<a href="https://colab.research.google.com/github/anapaccasilva/AdventureWorks/blob/main/EDA_AdventureWorks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importar dataset

In [1]:
import requests
import pandas as pd

url = "https://github.com/anapaccasilva/AdventureWorks/blob/main/DataSet%20SQL%20Analisis%20Masivo%20de%20Datos%20(1).xlsx?raw=true"

response = requests.get(url)

dest = 'local-file.xlsx'

with open(dest, 'wb') as file:
    file.write(response.content)

frame = pd.read_excel(dest, engine='openpyxl')

frame.head()

  Datos para el proyecto transversal                   Unnamed: 1
0                            Fuente:                         FTTD
1                          Objetivo:     Analisis Masivo de Datos
2                                NaN                          NaN
3                  Series Temporales               Ventas Totales
4                Variables Continuas  Gasto Clientes Individuales

In [2]:
import pandas as pd
url = "https://github.com/anapaccasilva/AdventureWorks/blob/main/DataSet%20SQL%20Analisis%20Masivo%20de%20Datos%20(1).xlsx?raw=true"

customersPurchases = pd.read_excel(url ,sheet_name="Var Discreta Adq Bicicleta")

In [3]:
customersPurchases

,TotalAmount,BikePurchase,CustomerID,Country,CountryRegionCode,Group,PersonID,PersonType,DateFirstPurchase,BirthDate,Age,MaritalStatus,YearlyIncome,Gender,TotalChildren,Education,Occupation,HomeOwnerFlag,NumberCarsOwned
0,8139.2900,1,11003,Australia,AU,Pacific,11358,IN,2001-07-01,1968-02-15,52,S,50001-75000,F,0,Bachelors,Professional,0,1
1,2994.0882,1,14501,Southwest,US,North America,11211,IN,2001-07-01,1938-05-13,82,M,75001-100000,M,4,Graduate Degree,Management,1,2
2,4118.2600,1,21768,Canada,CA,North America,14078,IN,2001-07-01,1946-08-22,74,S,50001-75000,M,5,Bachelors,Management,1,3
3,4631.1100,1,25863,Northwest,US,North America,10553,IN,2001-07-01,1946-12-03,74,S,25001-50000,F,5,High School,Professional,1,3
4,3399.9900,1,28389,France,FR,Europe,15519,IN,2001-07-01,1964-12-18,56,S,0-25000,F,3,High School,Manual,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,21.4900,0,24704,Germany,DE,Europe,15856,IN,2004-07-31,1972-03-13,48,M,0-25000,M,0,Partial High School,Manual,1,2
18480,49.9700,0,26564,Australia,AU,Pacific,7582,IN,2004-07-31,1954-09-26,66,S,25001-50000,M,3,Partial High School,Clerical,0,2
18481,80.4700,0,26832,Germany,DE,Europe,4583,IN,2004-07-31,1966-02-03,54,M,25001-50000,F,1,Bachelors,Skilled Manual,1,2
18482,74.9800,0,27686,Australia,AU,Pacific,17936,IN,2004-07-31,1963-05-19,57,M,50001-75000,M,4,Bachelors,Professional,1,3
18483,7.9500,0,28789,Southwest,US,North America,5916,IN,2004-07-31,1957-03-11,63,S,25001-50000,M,2,High School,Skilled Manual,1,2