<a href="https://colab.research.google.com/github/anapaccasilva/AdventureWorks/blob/main/EDA_AdventureWorks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Logo_UNIR.png]()
---


# **Máster Universitario en Inteligencia de Negocio**
# Proyecto Transversal

## Importar dataset

In [ ]:
import requests
import pandas as pd

url = "https://github.com/anapaccasilva/AdventureWorks/blob/main/DataSet%20SQL%20Analisis%20Masivo%20de%20Datos%20(1).xlsx?raw=true"

response = requests.get(url)

dest = 'local-file.xlsx'

with open(dest, 'wb') as file:
    file.write(response.content)

frame = pd.read_excel(dest, engine='openpyxl')

In [2]:
import pandas as pd
url = "https://github.com/anapaccasilva/AdventureWorks/blob/main/DataSet%20SQL%20Analisis%20Masivo%20de%20Datos%20(1).xlsx?raw=true"

customersPurchases = pd.read_excel(url ,sheet_name="Var Discreta Adq Bicicleta")

# **EDA - Análisis de Datos Exploratoria**

## 1) Panorama general

In [ ]:
customersPurchases.shape

(18484, 19)

In [ ]:
customersPurchases.describe()

,TotalAmount,BikePurchase,CustomerID,PersonID,Age,TotalChildren,HomeOwnerFlag,NumberCarsOwned
count,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000,18484.000000
mean,1588.329216,0.494049,20241.500000,11532.731660,58.420039,1.844352,0.676369,1.502705
std,2124.231717,0.499978,5336.015523,5340.939611,11.249188,1.612408,0.467874,1.138394
min,2.290000,0.000000,11000.000000,1699.000000,40.000000,0.000000,0.000000,0.000000
25%,49.970000,0.000000,15620.750000,6914.750000,50.000000,0.000000,0.000000,1.000000
50%,270.265000,0.000000,20241.500000,11535.500000,57.000000,2.000000,1.000000,2.000000
75%,2511.275000,1.000000,24862.250000,16156.250000,66.000000,3.000000,1.000000,2.000000
max,13295.380000,1.000000,29483.000000,20777.000000,110.000000,5.000000,1.000000,4.000000

In [ ]:
customersPurchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TotalAmount        18484 non-null  float64
 1   BikePurchase       18484 non-null  int64
 2   CustomerID         18484 non-null  int64
 3   Country            18484 non-null  object
 4   CountryRegionCode  18484 non-null  object
 5   Group              18484 non-null  object
 6   PersonID           18484 non-null  int64
 7   PersonType         18484 non-null  object
 8   DateFirstPurchase  18484 non-null  datetime64[ns]
 9   BirthDate          18484 non-null  datetime64[ns]
 10  Age                18484 non-null  int64
 11  MaritalStatus      18484 non-null  object
 12  YearlyIncome       18484 non-null  object
 13  Gender             18484 non-null  object
 14  TotalChildren      18484 non-null  int64
 15  Education          18484 non-null  object
 16  Occupation         18484 non-null  object
 17  HomeOwnerFlag      18484 non-null  int64
 18  NumberCarsOwned    18484 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(7), object(9)
memory usage: 2.7+ MB

In [ ]:
(customersPurchases.isnull() | 
 customersPurchases.empty    | 
 customersPurchases.isna()
 ).sum()

TotalAmount          0
BikePurchase         0
CustomerID           0
Country              0
CountryRegionCode    0
Group                0
PersonID             0
PersonType           0
DateFirstPurchase    0
BirthDate            0
Age                  0
MaritalStatus        0
YearlyIncome         0
Gender               0
TotalChildren        0
Education            0
Occupation           0
HomeOwnerFlag        0
NumberCarsOwned      0
dtype: int64


<font face="Biome" size=5 color='#0093C0' > Análisis <font>

---



<font color='4A4A4A'> *El dataset está conformado por 18484 líneas 19 columnas, de tipo numérico (int y float), textual (object) y fechas. Ninguna columna tiene valores vacíos o nulos.*